"""Unit tests for domain layer."""

import pytest
from pyhex.domain import Entity, EntityId


class TestEntity:
    """Tests for Entity base class."""

    def test_entity_id_creation(self):
        """Test that entity IDs can be created."""
        entity_id = EntityId.create()
        assert entity_id is not None
        assert str(entity_id) != ""

    def test_entity_id_uniqueness(self):
        """Test that entity IDs are unique."""
        id1 = EntityId.create()
        id2 = EntityId.create()
        assert id1 != id2


class ExampleEntity(Entity):
    """Example entity for testing."""

    def __init__(self, entity_id: EntityId, name: str):
        self._id = entity_id
        self._name = name

    @property
    def id(self) -> EntityId:
        return self._id

    @property
    def name(self) -> str:
        return self._name


def test_entity_with_id():
    """Test creating an entity with an ID."""
    entity_id = EntityId.create()
    entity = ExampleEntity(entity_id, "Test Entity")

    assert entity.id == entity_id
    assert entity.name == "Test Entity"


def test_entity_identity():
    """Test that entities with same ID are equal."""
    entity_id = EntityId.create()
    entity1 = ExampleEntity(entity_id, "Entity 1")
    entity2 = ExampleEntity(entity_id, "Entity 2")

    # Same ID means same entity
    assert entity1.id == entity2.id


def test_entity_different_identity():
    """Test that entities with different IDs are not equal."""
    entity1 = ExampleEntity(EntityId.create(), "Entity 1")
    entity2 = ExampleEntity(EntityId.create(), "Entity 2")

    # Different IDs means different entities
    assert entity1.id != entity2.id
